# R specific files
.Rhistory
.RData
.Rproj.user
# project folds
manuscript/
planning/
results/logs
archives
logs

# gthornes
results/network_features/
results/spearman_correlation/spearman_matrices/
results/spearman_correlation/perm/
results/analysis
Rplots.pdf

# files
src/test.r

# yu-tao
results/spearman_correlation/shuffle/
results/spearman_correlation/permutation_test/
Rplots.pdf
*.Rout
.Rhistory
.RData
