# R specific files
.Rhistory
.RData
.Rproj.user
*.Rout
# project folds
dataset/
manuscript/
planning/
results/
archives
logs
## for test data or scripts without synchronization
src/test/

# gthornes
Rplots.pdf

# files
src/test.r
*.pkl

# yu-tao
.snakemake/iocache/latest.pkl
dag.pdf
dag.svg
.snakemake/metadata
.snakemake/incomplete
.snakemake/log
.snakemake/locks
.snakemake/tmp
bashrc_fix
